################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dss-cmd/.vs/dss-cmd/v15
**/Debug
/.vs
